@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');

.heading-4 {
    color: $black-color-1;
    font-weight: 500;
    font-family: $font-primary;
    font-size: 1.4rem;
    line-height: 2rem;
    margin: 3.2rem 0 2.4rem 0;
}