@mixin gridContainer {
   display: grid;
   grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(12, [col-start] minmax(min-content, 12rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];

   @include respond(phone) {
      grid-template-columns: [full-start] minmax(3rem, 1fr) [center-start] repeat(12, [col-start] minmax(min-content, 12rem) [col-end]) [center-end] minmax(3rem, 1fr) [full-end];
   }
}

@mixin absCenter {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

// MEDIA QUERY MANAGER
/* 
0 - 600px       Phone
600 - 900px     Tablet portrait
901 - 1200px    Tablet landscape
[1201 - 1800px] Is where our normal styles apply
1801 +          Big desktop

$breakpoint argument choice:
- phone
- tab-port
- tab-land
- big-desktop
*/

//ORDER: base + typography > general layout + grid + page layouts > components 

@mixin respond($breakpoint) {
   @if $breakpoint == phone {          //600px
       @media screen and (max-width: 37.5em) {
           @content;
       }
   }

   @if $breakpoint == tab-port {       //900px
       @media screen and (max-width: 56.25em) {
           @content;
       }
   }

   @if $breakpoint == tab-land {       //1200px
       @media screen and (max-width: 75em) {
           @content;
       }
   }

   @if $breakpoint == big-desktop {    //1800px
       @media screen and (max-width: 112.5em) {
           @content;
       }
   }
}
