//COLORS
$white-color: #FFFFFF;
$white-color-2: #E5E5E5;

$gray-color-1: #B5B5B6;
$gray-color-2: #F2F3F6;
$gray-color-3: #848587;

$black-color: #000000;
$black-color-1: #1C1C1C;

$green-color-1: #40B25C;
$green-color-2: #1C6C3E;
$green-color-3: #A3F9B9;

$red-color-1: #DA4B4F;
$red-color-2: #C22539;

$pink-color-1: #FEE5EC;

//FONTS
$font-primary: 'Inter', sans-serif;